node_modules
.env
.prettierrc.yaml
.store
.DS_Store
.vscode
api/dist
api/static
api/prebuilds
electron/resources/api
electron/resources/prebuilds
electron-builder.env
node.napi.node
node-napi-v6.node
simpleble.node
